
<div class="container">

  <div *ngIf="false" class="row">
    <!-- hidden for now -->
    <div class="col">

        <ul ngbNav [activeId]="route.fragment | async">
          <li ngbNavItem><a ngbNavLink routerLink="/" >Scanner</a></li>
        </ul>


  </div>
  <div class="col">
    <app-savedata></app-savedata>
  </div>
  <div class="col">
    <app-auth></app-auth>
  </div>

</div>

<div class="row ">
  <div class="col"></div>
  <div class="col"><h2>Проверь QR код</h2></div>
  <div class="col"></div>
</div>
</div>
<router-outlet></router-outlet>
