<div class="container">
<div class="row">
    <div class="col">
        <video id="qrcode" [hidden]="!played" width="100%"></video>
    </div>
</div>
<div class="row gy-5">
    <div class="col">
        <iframe [src]="qrCodeUrl" width="100%" [height]="isCodeScanned ? '400px' : '0px'" style="border: 0;"></iframe>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <button class="btn btn-lg btn-success" (click)="onStartScan()">Сканировать код</button>
    </div>
</div>

</div>