<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="row position-relative">
                <div class="col">
                    <video id="qrcode"></video>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

<div class="row gy-5">    
    <div class="col">
        <div *ngIf="isCodeScanned">
            <img  [src]="'/assets/images/' + sourceIcon + '.svg'">
            <span>{{codeStatus}}</span>
        </div>
    </div>
    <div class="col">
        <iframe class="qr-frame" [src]="qrCodeUrl" width="100%" [height]="isCodeScanned ? '400px' : '0px'" style="border: 0;"></iframe>
    </div>
    <div class="col"></div>
</div>
<div class="row justify-content-center">
    <div class="col"></div>
    <div class="col">
        <button class="btn btn-lg btn-success" (click)="onStartScan()">Сканировать код</button>
    </div>
    <div class="col"></div>
</div>

</div>